:root {
  --bg-main: lab(2.42579% -0.165291 -0.470081);
  --bg-secondary: #030b1f;
  --bg-card: #020817;
  --border-subtle: rgba(255, 255, 255, 0.08);

  --text-primary: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.6);
  --text-muted: #6b7280;

  --accent-green: rgba(20, 226, 136, 0.5);
  --accent-green-soft: rgba(34, 197, 94, 0.15);
  --color-brand: #3ee4a7;

  --btn-primary-bg: #ffffff;
  --btn-primary-text: #020617;

  --btn-secondary-bg: rgba(255, 255, 255, 0.05);
  --btn-secondary-text: #ffffff;

  --radius-lg: 16px;
  --radius-md: 12px;
  --radius-sm: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: var(--bg-main);
  color: var(--text-primary);
  line-height: 1.6;
  background-image: linear-gradient(
      to top,
      rgba(10, 10, 10, 0.9) 0%,
      rgba(10, 10, 10, 0.01) 100%
    ),
    url('assets/bg-dark.png');
  background-repeat: no-repeat;
  background-size: contain;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(16px);
}

.navbar-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 18px 24px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-left {
  margin-right: 120px;
  padding-top: 4px;
}

.navbar-center a {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: 600;
  font-size: 15px;
  padding: 5px 12px;
  border-radius: 20px;
}

.navbar-center a:hover {
  background-color: var(--btn-secondary-bg);
}

.navbar-right a {
  margin-left: 12px;
}

.logo {
  height: 21px;
  cursor: pointer;
}

/* BUTTONS */
.btn-primary {
  padding: 8px 12px;
  background: var(--btn-primary-bg);
  color: var(--btn-primary-text);
  text-decoration: none;
  border-radius: var(--radius-lg);
  font-size: 14px;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.btn-secondary {
  padding: 8px 12px;
  background: var(--btn-secondary-bg);
  color: var(--btn-secondary-text);
  text-decoration: none;
  border-radius: var(--radius-lg);
  font-size: 15px;
  font-weight: 600;
}

/* HERO SECTION */
.hero {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 700px;
}

.hero-content {
  position: absolute;
  max-width: 800px;
  text-align: center;
  padding: 0 24px;
  top: -670px;
}

.hero-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: rgba(255, 255, 255, 0.15);
  padding: 4px 6px;
  border-radius: 999px;
  margin-bottom: 28px;
  font-size: 13px;
}

.badge-more-option {
  width: 16px;
  height: 16px;
}

.badge-text {
  font-size: 14.5px;
  font-weight: 600;
}

.badge {
  background: var(--accent-green);
  color: var(--btn-secondary-text);
  padding: 1px 6px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-weight: 500;
  align-items: center;
  font-size: 13px;
}

.hero-title {
  font-size: 58px;
  font-weight: 700;
  line-height: 1.1;
  margin: 24px 0;
}

.hero-description {
  font-size: 18px;
  color: var(--text-primary);
  width: 400px;
  font-weight: 500;
  margin-bottom: 36px;
  justify-self: center;
}

.hero-cta {
  display: inline-flex;
  background: rgba(255, 255, 255, 0.2);
  padding: 3px;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.hero-cta input {
  width: 260px;
  background: transparent;
  border: none;
  font-size: 15px;
  color: white;
  padding: 8px 12px;
  outline: none;
  display: relative;
}

.hero-cta input::placeholder {
  color: var(--text-secondary);
  font-weight: 500;
}

.hero-cta button {
  background: white;
  font-size: 15px;
  border: none;
  padding: 6px 12px;
  border-radius: var(--radius-lg);
  font-weight: 600;
  cursor: pointer;
}

.hero-cta button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* DOCS PREVIEW */
.docs-preview {
  position: absolute;
  top: 66vh;
  left: 22vw;
  width: fit-content;
  height: fit-content;
}

.docs-container {
  border-radius: var(--radius-lg);
  overflow: hidden;
  backdrop-filter: blur(12px);
  border-top: 2px solid var(--border-subtle);
  border-left: 2px solid var(--border-subtle);
  border-bottom: 10px solid rgba(20, 20, 20, 0.05);
  border-right: 2px solid var(--border-subtle);
  background-color: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0.01) 0%,
    rgba(20, 20, 20, 0.05) 50% rgba(20, 20, 20, 0.05) 100%
  );
}

/* TRUSTED BY */
.trusted-by {
  position: absolute;
  padding: 0 120px;
  width: 1200px;
  top: 150vh;
  left: 50%;
  transform: translateX(-50%);
}

.trusted-logos {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px;
}

.trusted-logos img {
  margin: 0 18px;
  height: 28px;
  opacity: 0.7;
}

.trusted-logos img:nth-child(1) {
  height: 18px;
  width: 120px;
}

.trusted-logos img:nth-child(2) {
  width: 120px;
}

.trusted-logos img:nth-child(3) {
  height: 60px;
  width: 160px;
  filter: brightness(10);
  filter: saturate(4);
}

.trusted-logos img:nth-child(4) {
  height: 78px;
  width: 170px;
  filter: contrast(8);
}

.trusted-logos img:nth-child(5) {
  height: 38px;
  width: 120px;
  filter: saturate(3);
}

.trusted-logos img:nth-child(6) {
  height: 28px;
  width: 120px;
}

.trusted-logos img:nth-child(7) {
  height: 44px;
  width: 150px;
  filter: brightness(1.5);
  filter: saturate(2);
}

.trusted-logos img:nth-child(8) {
  height: 28px;
  width: 120px;
  filter: saturate(2);
}

/* FEATURES */
.features {
  width: 1000px;
  margin: 0 auto;
  margin-top: 15vh;
}

.feature-text {
  text-align: center;
}

.feature-text > h2 {
  font-size: 36px;
  margin-bottom: 16px;
}

.feature-text > p {
  color: var(--text-secondary);
  max-width: 550px;
  margin: 0 auto;
}

.top-visual-features {
  width: 1000px;
  margin: 0 auto;
  margin-top: 48px;
}

.top-visual-features {
  display: flex;
  gap: 24px;
  margin-top: 48px;
}

.top-visual-feature-1,
.top-visual-feature-2,
.bottom-visual-feature {
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-lg);
  padding: 30px;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.02);
  overflow: hidden;
}

.bottom-visual-feature {
  padding-top: 48px;
}

.top-visual-feature-1,
.top-visual-feature-2 {
  width: 100%;
}

.top-visual-feature-1 > .feature-para-1,
.top-visual-feature-2 > .feature-para-1,
.bottom-visual-feature > .feature-para-1 {
  color: var(--color-brand);
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  margin-bottom: 8px;
  font-weight: 600;
}

.top-visual-feature-1 > h3,
.top-visual-feature-2 > h3,
.bottom-visual-feature > h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

.top-visual-feature-1 > .feature-para-2,
.top-visual-feature-2 > .feature-para-2 {
  color: var(--text-secondary);
  font-size: 17px;
  line-height: 1.5;
  width: 22rem;
}

.bottom-visual-feature > .feature-para-2 {
  color: var(--text-secondary);
  font-size: 17px;
  line-height: 1.5;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}


.top-visual-feature-1 > video,
.top-visual-feature-2 > video,
.bottom-visual-feature > video {
  width: 100%;
  height: 100%;
  margin-top:  -20px;
  border-radius: var(--radius-lg);
  margin-bottom: 40px;
}

.bottom-visual-feature > video{
  margin:  40px 0 -40px 0 ;

}

.bottom-visual-feature {
  width: 100%;
  margin-top: 28px;
  text-align: center;
  margin-bottom: 20vh;
}

/* ENTERPRISE SECTION */

.enterprise-section {
  padding: 80px 0;
  background: rgba(255, 255, 255, 0.05);
}

/* container */
.enterprise-section-container {
  max-width: 1080px;
  margin: auto;
  padding: 0 24px;
}

/* badge */
.enterprise-section-badge {
  color: #3ee4a7;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 600;
}

/* header */
.enterprise-section-header {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.enterprise-section-header > div > h1 {
  font-size: 36px;
  line-height: 1.15;
}

.enterprise-section-header > div > p {
  margin-top: 16px;
  max-width: 600px;
  color: #b3b3b3;
}

/* CTA */
.enterprise-section-cta {
  padding: 8px 34px;
  margin-top: auto;
  background: #fff;
  color: #000;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  align-self: flex-start;
}

/* features */
.enterprise-section-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-top: 80px;
}

.enterprise-section-features > div > span {
  color: #3ee4a7;
  display: inline-block;
  margin-bottom: 12px;
}

.enterprise-section-features > div > h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.enterprise-section-features > div > p {
  margin-top: 20px;
  color: #b3b3b3;
  font-size: 16px;
  line-height: 1.6;
}

/* card */
.enterprise-section-card {
  height: 60vh;
  width: 115vh;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  border-radius: 18px;
  overflow: hidden;
  background-image: url('assets/enterprise-card-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.3s;
}

.enterprise-section-card:hover {
  filter: opacity(0.7);
}

.enterprise-section-card > div:first-child {
  padding: 60px;
  display: flex;
  flex-direction: column;
}

.enterprise-section-card > div:first-child > small {
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.enterprise-section-card > div:first-child > h2 {
  margin-top: 20px;
  width: 22rem;
  font-weight: 500;
  line-height: normal;
}

.enterprise-section-card > div:first-child > a {
  margin-top: 40px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

/* stats */
.enterprise-section-stats {
  padding-top: 130px;
  display: flex;
  gap: 40px;
}

.enterprise-section-stats > div {
  width: 190px;
}

.enterprise-section-stats > div > strong {
  font-size: 38px;
  font-weight: 500;
  display: block;
}

.enterprise-section-stats > div > span {
  font-size: 15px;
  color: #cfcfcf;
}

/* image */
.enterprise-section-image {
  background: url('your-image-here.jpg') center / cover no-repeat;
}

/* logos */

.enterprise-section-logos {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 84px;
  margin: 10px auto 0;
}

.enterprise-section-logos > span > img {
  width: 100px;
  margin-top: 30px;
  filter: grayscale(100%) brightness(150%) opacity(0.8);
}

/* CASE STUDIES */

.customers-section {
  background-color: #000;
  padding: 100px 20px;
  color: #fff;
}

.customers-container {
  max-width: 1200px;
  margin: 0 auto;
}

.customers-header {
  text-align: center;
  margin-bottom: 60px;
}

.customers-label {
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  font-weight: 600;
  color: var(--color-brand);
}

.customers-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}

.customers-subtitle {
  font-size: 18px;
  color: var(--text-secondary);
  max-width: 650px;
  margin: 0 auto;
}

/* Cards Layout */

.customers-cards {
  position: relative;
  display: flex;
  width: 80vw;
  gap: 14px;
  overflow: hidden;
}

/* Individual Card */

.customers-card-image {
  position: relative;
  width: 380px;
  height: 220px;
  overflow: hidden;
  border-radius: var(--radius-lg);
}

.customers-card-image img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

.customers-card-image img:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 150px;
  width: 60%;
  height: auto;
  z-index: 2;
  pointer-events: none; /* prevents hover issues */
}

.customers-card-image img:hover {
  filter: opacity(0.8);
}

.customers-card-image img:hover .customers-link {
  color: var(--color-brand);
}

.customers-card-content h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 16px;
  color: var(--text-secondary);
}

.customers-link {
  font-size: 14px;
  text-decoration: none;
  color: var(--text-secondary);
  font-weight: 600;
}

.check-next-card {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #000;
  font-weight: 700;
  font-size: larger;
}

.check-next-card p:first-child {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 10px;
  border-radius: 100%;
}

.check-next-card p:last-child {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 10px;
  border-radius: 100%;
}

/* FINAL CTA */

.cta-section {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.05)
  );
  padding: 120px 20px;
  text-align: center;
}

.cta-container {
  max-width: 1100px;
  margin: 0 auto;
}

/* HEADER CONTENT */

.cta-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 24px;
}

.cta-subtitle {
  font-size: 16px;
  color: var(--btn-secondary-text);
  margin-bottom: 40px;
}

/* BUTTONS */

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.btn {
  padding: 8px 24px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s ease;
  display: inline-block;
}

/* Primary Button */
.btn-primary {
  background: #ffffff;
  color: #000000;
}

.btn-primary:hover {
  background: #e1e1f1;
}

/* Secondary Button */
.btn-secondary {
  border: 1px solid #334155;
  color: #ffffff;
  background: transparent;
}

.btn-secondary:hover {
  background: #111827;
}

/* Divider Line */

.cta-divider {
  height: 1px;
  width: 100%;
  margin-bottom: 60px;
}

/* FEATURES */

.cta-features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  align-items: start;
}

.feature-card {
  text-align: center;
}

.feature-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto 20px;
  background: #000;
  border: 1px solid #1e293b;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.feature-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.feature-text {
  margin-bottom: 16px;
}

.feature-link {
  color: var(--color-brand);
  text-decoration: none;
}

.feature-link:hover {
  text-decoration: underline;
}

/* Footer Base Styling */

.site-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.05);
  color: #cbd5e1;
}

.footer-container {
  border: 1px solid rgba(255, 255, 255, 0.05);
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 0;
}

/* Brand Section */

.footer-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 15px 0;
  flex-wrap: wrap;
  padding: 0 40px;
}

.footer-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
}

.logo-icon > img {
  width: 100px;
}

.social-links {
  display: flex;
  gap: 20px;
}

.social-link {
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.social-link img {
  width: 22px;
  filter: opacity(0.3) invert(1);
}

/* Navigation Columns */

.footer-navigation {
  display: grid;
  padding: 40px 40px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  margin-bottom: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.07);
}

.footer-heading {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--text-muted);
  margin-bottom: 16px;
  font-weight: 500;
  padding: 2px 10px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin-bottom: 12px;
}

.footer-list a {
  text-decoration: none;
  padding: 8px 18px;
  color: var(--text-primary);
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-list a:hover {
  background-color: var(--btn-secondary-bg);
  padding: 8px 18px;
  border-radius: var(--radius-lg);
}

/* bottom section */
.footer-security-grade-section {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 40px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footer-security-grade-section > img {
  width: 45px;
}

/* Bottom Section */

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-status {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #ffffff;
  background-color: var(--btn-secondary-bg);
  padding: 6px 12px;
  border-radius: var(--radius-lg);
}

.status-dot {
  width: 10px;
  height: 10px;
  background-color: #22c55e;
  border-radius: 50%;
  margin-right: 8px;
}

.footer-copy {
  font-size: 14px;
  margin: 0;
}

.footer-darklight-mode {
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  border-radius: var(--radius-lg);
  gap: 10px;
}

.footer-darklight-mode > img {
  filter: opacity(0.5) invert(1);
  width: 12px;
}

.footer-darklight-mode > img:nth-child(3) {
  filter: opacity(1) invert(1);
}
